<div class="row center-align">
    <p></p>
    <h2>Our Story</h2>
    <div class="row">
        <div class="col l12 s12">
            <p class="flow-text">
                The married couple-to-be met at McDonalds Glengormley on Katie’s first day and didn’t think much of it.
                Katie could not clock-in, and Michael was kind enough to help her. Michael had started at McDonald's
                in December the year before. Their working together lasted only a matter of weeks before Michael
                left McDonald's to start his placement year in university.
            </p>
            <p class="flow-text">
                They stayed in touch and went out together for romantic strolls in Woodburn reservoir as a first date.
                Michael asked Katie to be his Girlfriend on June 27th, 2015, with a reply of "maybe, I will have to
                speak with my friends first".
                Since then, they have had many adventures together and holidays to the Netherlands, Italy, and Germany.
            </p>
            <p class="flow-text">
                The story does not stop there. Michael had planned to propose to Katie for months in 2020.
                The night before the proposal, Michael had rang Katie’s parents to tell them of his plan,
                both were overjoyed and gave their blessings.
                The morning of the proposal, Michael sent Katie on walk to Woodburn reservoir with some housemates.
                When they left, he put his plan into action. Michael had picked up Katie’s Mum and sister to bring
                them to the proposal site on the shores of the lake, where they first met.
                They arrived and waited for Katie and the housemates to finish their walk at the top lake, where Michael
                waited patiently.
                Katie arrived at the top lake, where Michael and some of the family waited, unaware of what was
                happening until Michael popped the question and asked her to marry him.
            </p>
            <h3 class="center-align">
                SHE SAID YES!
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col l8 offset-l2 s12">
            {% load static %}
            <img src="{% static 'core/images/story.PNG' %}" class="responsive-img" alt="Our Story">
        </div>
    </div>
</div>
