<div class="row center-align">
    {% load static %}
    <div class="col l12 s12">
        <h2>Help us with our honeymoon</h2>
        <i>
            <h5 class="flow-text">If you are thinking of giving a gift, to help us on our way,</h5>
            <h5>a gift of cash towards our honeymoon would really make our day.</h5>
        </i>
        <p class="flow-text">We would like to thank all of you for making our special day a reality.</p>
        <img src="{% static 'core/images/paypal_qr.png' %}" style="border: 5px solid #FFF" class="center-img">
        <p></p>
        <form action="https://www.paypal.com/donate" method="post" target="_top">
            <input type="hidden" name="business" value="9CMGHHMQ6KHJ6" />
            <input type="hidden" name="no_recurring" value="1" />
            <input type="hidden" name="item_name" value="Katie & MJ honeymoon fund" />
            <input type="hidden" name="currency_code" value="GBP" />
            <input
                type="image"
                src="{% static 'core/images/paypal.png' %}"
                border="0"
                name="submit"
                title="Donate to the Katie & MJ honeymoon fund"
                alt="Donate with PayPal button"
                width="250px"/>
            <img alt="" border="0" src="https://www.paypal.com/en_GB/i/scr/pixel.gif" width="1" height="1" />
        </form>
        <p>We will also have a letter box on the day for you to write heartwarming messages and give cards</p>
    </div>
</div>