{% extends "core/base.html" %}

{% block content %}
    {% if object_list %}
        <ul>
        {% for user in object_list %}
            <li>
                {% if user.first_name %}
                    {{ user.first_name }} {{ user.last_name }}:
                    {% for guest in user.guest_set.all %}
                         {{ guest.get_RSVP_display }}
                    {% endfor %}
                {% else %}
                    {{ user.username }}:
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No guests are available.</p>
    {% endif %}
{% endblock %}