{% extends "core/base.html" %}

{% block content %}
    {% load static %}
    <div class="row">
        <p></p>
        <div class="col s12 center-align">
            <img class="responsive-img" src="{% static 'core/images/background.bmp' %}" alt="Background">
        </div>
    </div>
    {# Link to RSVP #}
    <div class="row">
        <div class="col l6 offset-l3 s12">
            <p class="center-align">
                <a class="waves-effect waves-light btn-large indigo darken-4" href="{% url 'core:rsvp_login' %}">
                    <i class="material-icons left">beenhere</i>
                    RSVP Here
                </a>
            </p>
        </div>
    </div>
    {# Countdown timer #}
    <div class="row">
        <div class="col l8 offset-l2 s12 centre-align">
            <script src="https://cdn.logwork.com/widget/countdown.js"></script>
            <a
                href="https://logwork.com/countdown-qj4j"
                class="countdown-timer"
                data-timezone="Europe/London"
                data-textcolor="#9e9999"
                data-date="2022-02-10 13:30"
                data-background="#9e9999"
                data-digitscolor="#ffffff"
                data-unitscolor="#9e9999">The Big Day
            </a>
        </div>
    </div>
{% endblock %}