{% extends "core/base.html" %}

{% block content %}
    {% load static %}
    <div class="row">
        <p></p>
    </div>
    {# Header image #}
    <div class="row center-align">
        <div class="col s12 m12 l12">
            <img class="responsive-header" src="{% static 'core/images/couple.jpg' %}" alt="Woodburn Forest">
        </div>
    </div>
    <div class="container">
        {# Link to RSVP #}
        <div class="row">
            <div class="col l6 offset-l3 s12">
                <p class="center-align">
                    <a class="btn btn-block waves-effect waves-light indigo darken-4 pulse" href="{% url 'core:rsvp_login' %}">
                        <i class="material-icons icon-large left">beenhere</i>
                         RSVP Here
                    </a>
                </p>
            </div>
        </div>
        {# Countdown timer #}
        <div class="row">
            <div class="col l8 offset-l2 s12 centre-align">
                <script src="https://cdn.logwork.com/widget/countdown.js"></script>
                <a
                    href="https://logwork.com/countdown-qmue"
                    class="countdown-timer"
                    data-timezone="Europe/London"
                    data-date="2022-03-19 13:30">The Big Day
                </a>
            </div>
        </div>
        <hr>
        {% include "core/on_the_day.html" %}
        <hr>
        {% include "core/about_us.html" %}
        <hr>
        {% include "core/wedding_party.html" %}
        <hr>
        {% include "core/gifts.html" %}
        <hr>
        {% include "core/gallery.html" %}
    </div>
{% endblock %}