<header>
    <nav>
        <div class="nav-wrapper indigo darken-4">
            <div class="container">
                {# Brand-logo here #}
                <a href="{% url 'core:index' %}" class="brand-logo">Katie &amp; MJ</a>
                <a href="#" class="sidenav-trigger" data-target="slide_out"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'core:rsvp_logout' %}">Logout</a></li>
                        {% if user.is_staff %}
                            <li><a href="{% url 'core:guest_summary' %}">Guest List</a></li>
                        {% endif %}
                    {% endif %}
                    <li><a href="{% url 'core:rsvp_login' %}">RSVP</a></li>
                </ul>
            </div>
        </div>
    </nav>

    {# Side nav bar for smaller screens #}
    <ul class="sidenav" id="slide_out">
        {% if user.is_authenticated %}
            <li><a href="{% url 'core:rsvp_logout' %}">Logout</a></li>
            {% if user.is_staff %}
                <li><a href="{% url 'core:guest_summary' %}">Guest List</a></li>
            {% endif %}
        {% endif %}
        <li><a href="{% url 'core:rsvp_login' %}">RSVP</a></li>
    </ul>
</header>

{# Sidebar popout javascript#}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var myNav = document.querySelectorAll('.sidenav');
        M.Sidenav.init(myNav, {});
    });
</script>