<div class="row center-align">
    <div class="col l12 s12">
        <h2>On The Day</h2>
        <p class="flow-text"><b>Time: </b>1330-0100hrs</p>
        <p class="flow-text"><b>Date: </b>Saturday 19th March 2022</p>
        <p class="flow-text"><b>Location: </b>Hilton Templepatrick, BT39 0DD</p>
        <p><a class="btn-large waves-effect waves-light indigo darken-4" href="{% url 'core:getting_there' %}">
            <i class="material-icons icon-large left">map</i>
            Getting There
        </a></p>
        <div class="col l6 offset-l3 s12">
            <table class="responsive-table centered" style="font-size: 20px">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td><i class="material-icons">location_on</i></td><td>1330</td><td class="td-left">Arrival</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons">account_balance</i></td><td>1345</td><td class="td-left">Ceremony</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons">mic</i></td><td>1700</td><td class="td-left">Speeches</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons">local_dining</i></td><td>1730</td><td class="td-left">Dinner</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons">music_note</i></td><td>1900</td><td class="td-left">Evening party</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons">room_service</i></td><td>2200</td><td class="td-left">Buffet</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons">local_drink</i></td><td>0015</td><td class="td-left">Last orders</td>
                    </tr>
                    <tr>
                        <td><i class="material-icons">local_taxi</i></td><td>0100</td><td class="td-left">Carriages</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>