{% extends "core/base.html" %}

{% block content %}
    {% load static %}
    <script src="{% static 'core/base.js' %}"></script>
    <div class="container">
        <div class="col l12 s12">
            <h3>
                Please let us know if you can make it by providing your RSVP and mobile number.
            </h3>
            {% if form.errors %}
                <p class="red-text"><b>Error:</b></p>
                {% for error in form.errors %}
                    <p class="red-text">Check the {{ error }} field</p>
                    {% if error == 'phone' %}
                        <script>
                            window.alert("Warning: check the {{ error }} field. Number should be in +44XXXXXXXXXX format");
                        </script>
                    {% else  %}
                        <script>
                            window.alert("Warning: check the {{ error }} field");
                        </script>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <form method="post">{% csrf_token %}
                {{ form.as_p }}
                <h3>Enter your address details to help us send thank you cards:</h3>
                {{ form_address.as_p }}
                <p>
                    <label>
                        <input type="checkbox" id="consent"/>
                        <span>
                            (*) I consent to my data being stored.
                            <a href="{% url 'core:privacy_policy' %}">Privacy Policy</a>
                        </span>
                        <script>
                            document.getElementById("consent").required = true;
                        </script>
                    </label>
                </p>
                <input type="submit" value="Submit RSVP">
            </form>
        </div>
    </div>
{% endblock %}