<p></p>
<div class="row center-align">
    <div class="col l12 s12">
        <h2>Wedding Party</h2>
        {% load static %}
        <h4>Hens</h4>
        <div class="row flex">
            <div class="col l3 s6">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'core/images/terri.jpeg' %}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Terri Sloan
                            <i class="material-icons right">expand_less</i>
                        </span>
                        <p class="black-text">Maid of Honour</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Terri Sloan<i class="material-icons right">close</i></span>
                        <p class="black-text">I’m Terri, I’m the maid of honour and I’ve known Katie (Tayto-Head) from
                            the day she was born and stole my big bedroom.  (I can provide photos if you’re wondering
                            about the Tayto-Head reference, hit me up on the day). I’m currently living in Newtownabbey
                            and in year 2 of BSC in Psychology at Queens university Belfast. I look forward to being
                            the future marriage counsellor for the newly weds
                        </p>
                    </div>
                </div>
            </div>
            <div class="col l3 s6">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'core/images/toni.jpeg' %}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Toni Sloan
                            <i class="material-icons right">expand_less</i>
                        </span>
                        <p class="black-text">Bridesmaid</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Toni Sloan
                            <i class="material-icons right">close</i>
                        </span>
                        <p class="black-text">
                            Hi I’m Toni / Bridesmaid. I have known Katie since we were little sperms swimming towards
                            the egg battling it out for survival. We shared the womb for a solid 9 months so I guess
                            you could say I’m pretty attached to her apart from that 12 minutes of freedom I got
                            before she entered the world. I am so upset that Michael has came along and cut off my
                            spare arm… she will be deeply missed.  I have a BSC in Health and Social Care Policy;
                            however I still vibe in Tesco being a key-worker making sure the nation gets their bread
                            and all that.   Thanks for coming to my ted talk :)
                        </p>
                    </div>
                </div>
            </div>
            <div class="col l3 s6">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'core/images/casey.jpeg' %}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Casey Sloan
                            <i class="material-icons right">expand_less</i>
                        </span>
                        <p class="black-text">Bridesmaid</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Casey Sloan
                            <i class="material-icons right">close</i>
                        </span>
                        <p class="black-text">
                            Hey I’m Casey the youngest member of the bridal party. I’m in 3rd year at Abbey Community
                            College and currently deciding what I want to do with my life (GCSE choices). I may be
                            Katie’s youngest sister but I’m definitely still the best one there is ✨
                        </p>
                    </div>
                </div>
            </div>
            <div class="col l3 s6">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'core/images/brittany.jpeg' %}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Brittany Cooper
                            <i class="material-icons right">expand_less</i>
                        </span>
                        <p class="black-text">Bridesmaid</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Brittany Cooper
                            <i class="material-icons right">close</i>
                        </span>
                        <p class="black-text">
                            Hi! I’m Brittany. Currently a care assistant and doing a degree in health and social care🥳
                            I’ve known Katie for a glorious 10 years, not sure how she’s stuck with me and my crap for
                            that long😂 I really hit the jackpot whenever I picked a best friend. I’m buzzing to stand
                            beside her on her big day when she finally becomes Mrs Jennings🥰
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <h4>Stags</h4>
        <div class="row flex">
            <div class="col l3 s6">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'core/images/thomas.png' %}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Thomas Logan
                            <i class="material-icons right">expand_less</i>
                        </span>
                        <p class="black-text">Best Man</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Thomas Logan
                            <i class="material-icons right">close</i>
                        </span>
                        <p class="black-text">
                            Hi! I am Thomas, the best man. I work as an IT support technician and live wherever I can
                            find a couch. I have known MJ for over 10 years now from our time in the air cadets.
                            Both myself and MJ are lovers of Hard Dance music, so we have been to many festivals and
                            concerts in the Netherlands. Be ready for some good choons on the night ❤️
                        </p>
                    </div>
                </div>
            </div>
            <div class="col l3 s6">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'core/images/aaron.jpeg' %}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Aaron Coulter
                            <i class="material-icons right">expand_less</i>
                        </span>
                        <p class="black-text">Groomsman</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Aaron Coulter
                            <i class="material-icons right">close</i>
                        </span>
                        <p class="black-text">
                            I have known MJ for just over 10 years now (almost a prison sentence!), MJ was one of
                            our students at the flying school where he later joined as a pilot. Michael and I are
                            connected through Aviation and STEM which we teach to students frequently.
                            I work in the IT industry
                        </p>
                    </div>
                </div>
            </div>
            <div class="col l3 s6">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'core/images/andrew.jpeg' %}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Andrew Wilson
                            <i class="material-icons right">expand_less</i>
                        </span>
                        <p class="black-text">Groomsman</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Andrew Wilson
                            <i class="material-icons right">close</i>
                        </span>
                        <p class="black-text">
                            Hi I'm Andrew (the one on the left of the photo), I have known MJ since we met in
                            University fours years ago. Through the years we have worked together on a lot of projects,
                            travelled together, and spent a lot of time drinking. <s>Unfortunately our unspoken attraction
                            to each other will never be realised now that MJs getting married</s> I was
                            unbelievably happy to find out MJ and Katy were engaged and really look forward to
                            being a part of their lives in the future!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col l3 s6">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{% static 'core/images/robert.jpeg' %}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Robert Cunningham
                            <i class="material-icons right">expand_less</i>
                        </span>
                        <p class="black-text">Groomsman</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Robert Cunningham
                            <i class="material-icons right">close</i>
                        </span>
                        <p class="black-text">
                            Hi I'm Robert, team groom, know MJ from 664 flying days and have annoyed him ever since!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>