textarea,
input[type="number"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="text"] {
  color: #FFF;
}

.card-img {
  width: 100%;
  height: auto;
}

.errorlist {
  color: red !important;
}

.helptext {
  color:darkgrey !important;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*width: 50%;*/
}