textarea,
input[type="number"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="text"] {
  color: #000;
}

input[type="label"] {
  color: black;
}

.card-img {
  width: 100%;
  height: auto;
}

.errorlist {
  color: red !important;
}

.helptext {
  color:darkgrey !important;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*width: 50%;*/
}

/*.card {*/
/*  width: 100%;*/
/*  padding-bottom: 50%;*/
/*  overflow: hidden;*/
/*  position: relative;*/
/*}*/

/*.card-image img {*/
/*  width: 100%;*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/
/*  right: 0;*/
/*  bottom: 0;*/
/*}*/

.flex {
  display: flex;
  flex-wrap: wrap;
}